body {
  background-image: url("../images/blackjackpic.jpg");
  background-size: cover;
}
h1 {
  color: #d4af37;
  font-family: "Nunito", sans-serif;
  font-size: 150px;
  margin-top: 75px;
  text-align: center;
}
